/* Begin for (*) */
body, html {
  font-size: 14px;
  background-color: #f7f9fa;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
  font-weight: normal;
  color: #353a3f;
}
body {
  line-height: 24px;
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

*{
  touch-action: pan-y;
  box-sizing: border-box;
}
ol, ul { list-style: none;}
p,ol,li,ul,dt,dd { 
  margin : 0px ;
  padding: 0px 
}
.font-12{ font-size: 12px;}
.font-13{ font-size: 13px;}
.font-14{ font-size: 14px;}
.font-16{ font-size: 16px;}
.font-18{ font-size: 18px;}
.font-20{ font-size: 20px;}
.font-22{ font-size: 22px;}
.font-24{ font-size: 24px;}
.font-26{ font-size: 26px;}
.font-28{ font-size: 28px;}
.font-30{ font-size: 30px;}
.font-32{ font-size: 32px;}
.font-34{ font-size: 34px;}
.font-36{ font-size: 36px;}
.font-38{ font-size: 38px;}
.font-40{ font-size: 40px;}

.text-666{color: #666;}
.text-999{color: #999;}

.container, .container-lg, .container-md, .container-sm {
    max-width: 1120px;
}




.fl_black{
  border-bottom: 1px #0b0c0e solid;
}

.border-bottom-50 {
  border-bottom: 1px solid rgba(225,225,225,0.5);
}
.border-top-50 {
  border-top: 1px solid rgba(225,225,225,0.5);
}
.border-right-50 {
  border-right: 1px solid rgba(225,225,225,0.5);
}
.border-50 {
  border: 1px solid rgba(225,225,225,0.5);
}
/* End for (*) */

/* Begin for (login & login_mima) */
a {
  color: #212529;
  text-decoration:none!important;
  outline: none;
}
a:hover { 
  color:#007bff;
  text-decoration:none;
  outline: none;
}
a:link,a:active,a:visited { 
  text-decoration:none;
  outline: none; 
}



input,button,select,textarea{outline:none;}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {  
  outline: none;   
  border-color: transparent;   
  box-shadow:none;
}
.btn-primary {
  color: #fff;
  background-color: #53b3e0;
  border-color: #53b3e0;
}
.cursor-hand {
  cursor: pointer;
}
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #ced4da;
  outline: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}
/* End for (login & login_mima) */

/* Begin for (bootstrap) */
#card_body_img img:hover{
  transform:scale(1.1);
  transition: transform 0.4s ease;
}
#card_body_p1{
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
#card_body_h5{
  font-size: 1rem;
}
#card_body_p2{
  font-size: 0.8rem;
}
#goodUser:hover img{
  transform:scale(1.1);
  transition: transform 0.4s ease;
}
#goodUser:hover a{
  color: #333;
}
#goodUser a{
  color:#999;
}
#footerLink a:hover{
  color:#333;
}
nav svg:hover{
  color:#007bff;
}



.home-side-nav {
  position: fixed;
  padding: 20px 8px;
  top: 83px;
  margin-left: -110px;
  width: 90px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(98,124,153,.1);
  border-radius: 4px;
}

.home-side-nav__list .nav-item {
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.home-side-nav__list .nav-item.active {
  background: #007bff;
  border-radius: 4px;
}
.home-side-nav__list .nav-item:not(:last-child) {
  margin-bottom: 4px;
}
.home-side-nav__list .nav-item.active a {
  color: #fff;
}
.home-side-nav__list .nav-item a {
  font-weight: 400;
  color: #494b4d;
}
/* End for (bootstrap) */





